.container {
    display: flex;
    padding: 20px 100px;
}

.photo {
    height: 200px;
}

.col {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-1 {
    background-color: rgb(255 216 223 / 59%);
}

.b-2 {
    background-color: #f5f5dc;
}

.b-3 {
    background-color: #92eb92b5;
}

.b-4 {
    background-color: #8080809c;
}